.wrapper {
  color: #fff;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.container {
  background-color: rgba(10, 35, 133, 0.4);
  padding: 20px 40px;
  border-radius: 5px;

  & h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  & a {
    text-decoration: none;
    color: lightblue;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;

  &:focus {
    outline: 0;
  }
  &:active {
    transform: scale(0.98);
  }
}
.text {
  margin-top: 30px;
}
.formControl {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;

  & input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;

    & :focus {
      outline: 0;
      border-bottom-color: lightblue;
    }
    & :valid {
      outline: 0;
      border-bottom-color: lightblue;
    }
  }
}
.error {
  & p {
    color: #bf1650;
    &::before {
      display: inline;
      content: "⚠ ";
    }
  }
}
